<h2>{{i18n "discourse_subscriptions.title" site_name=siteSettings.title}}</h2>

{{#if stripeConfigured}}
  <div class="discourse-subscriptions-buttons">
    {{#if campaignEnabled}}
      <DButton
        @label="discourse_subscriptions.campaign.refresh_campaign"
        @icon="sync-alt"
        @action={{action "triggerManualRefresh"}}
      />
    {{else}}
      {{#unless campaignProductSet}}
        <DButton
          @label="discourse_subscriptions.campaign.one_click_campaign"
          @icon="plus-square"
          @action={{action "createOneClickCampaign"}}
          @isLoading="loading"
        />
      {{/unless}}
    {{/if}}
  </div>

  <div>
    {{i18n "discourse_subscriptions.admin.stripe_dashboard_help"}}
    <a href="https://stripe.com/dashboard">{{i18n
        "discourse_subscriptions.admin.stripe_dashboard_link_text"
      }}</a>
  </div>

  <ul class="nav nav-pills">
    <NavItem
      @route="adminPlugins.discourse-subscriptions.plans"
      @label="discourse_subscriptions.admin.plans.title"
    />
    <NavItem
      @route="adminPlugins.discourse-subscriptions.subscriptions"
      @label="discourse_subscriptions.admin.subscriptions.title"
    />
  </ul>

  <hr />

  <div id="discourse-subscriptions-admin">
    {{outlet}}
  </div>
{{else}}
  <p>{{i18n "discourse_subscriptions.admin.unconfigured"}}</p>
  <p>
    <a href="https://meta.discourse.org/t/discourse-subscriptions/140818/">
      {{i18n "discourse_subscriptions.admin.on_meta"}}
    </a>
  </p>
{{/if}}